.weather-container {
    background-color: #b9f1a8;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: 20px auto; /* Center horizontally */
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
 
  .weather-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #0c0c0c;
  }

  
  
  .weather-container p {
    margin: 5px 0;
    font-size: 18px;
    color: #0d0e0d;
  }
  .weather-container p strong {
    font-weight: bold;
    color: #000;
  }

